Polygon Encoding issue

Hi Geojson Team, thanks for this great library.

I'm having an issue when putting Polygon Features together into a FeatureCollection. Here's an example.

```
import geojson
from geojson import Point, Polygon, Feature, FeatureCollection

a = Polygon([(2.38, 57.322), (23.194, -20.28), (-120.43, 19.15)])
b = Polygon( [(2.38, 57.322), (23.194, -20.28), (-120.43, 19.15)])
c = Feature(geometry=a)
d = Feature(geometry=b)
e = FeatureCollection([c,d])
print geojson.dumps(e)

{"type": "FeatureCollection", "features": [{"geometry": {"type": "Polygon", "coordinates": [[2.38, 57.322], [23.194, -20.28], [-120.43, 19.15]]}, "type": "Feature", "id": null, "properties": {}}, {"geometry": {"type": "Polygon", "coordinates": [[2.38, 57.322], [23.194, -20.28], [-120.43, 19.15]]}, "type": "Feature", "id": null, "properties": {}}]}'
```

Notice in  the output that there are two brackets in the polygon `coordinates.` The GeoJson spec for [Polygon ](http://geojson.org/geojson-spec.html#id4) has three brackets whether the Polyogn has holes or not where the expected output would be as follows:

```
{"type": "FeatureCollection", "features": [{"geometry": {"type": "Polygon", "coordinates": [[[2.38, 57.322], [23.194, -20.28], [-120.43, 19.15]]]}, "type": "Feature", "id": null, "properties": {}}, {"geometry": {"type": "Polygon", "coordinates": [][2.38, 57.322], [23.194, -20.28], [-120.43, 19.15][]}, "type": "Feature", "id": null, "properties": {}}]}'
```


Direct quote from [RFC 7946 Section 3.1.6](https://tools.ietf.org/html/rfc7946#section-3.1.6):

> 3.1.6.  Polygon
> 
>    To specify a constraint specific to Polygons, it is useful to
>    introduce the concept of a linear ring:
> 
>    o  A linear ring is a closed LineString with four or more positions.
> 
>    o  The first and last positions are equivalent, and they MUST contain
>       identical values; their representation SHOULD also be identical.
> 
>    o  A linear ring is the boundary of a surface or the boundary of a
>       hole in a surface.
> 
>    o  A linear ring MUST follow the right-hand rule with respect to the
>       area it bounds, i.e., exterior rings are counterclockwise, and
>       holes are clockwise.
> 
>    Note: the [GJ2008] specification did not discuss linear ring winding
>    order.  For backwards compatibility, parsers SHOULD NOT reject
>    Polygons that do not follow the right-hand rule.
> 
>    Though a linear ring is not explicitly represented as a GeoJSON
>    geometry type, it leads to a canonical formulation of the Polygon
>    geometry type definition as follows:
> 
>    o  For type "Polygon", the "coordinates" member MUST be an array of
>       linear ring coordinate arrays.
> 
>    o  For Polygons with more than one of these rings, the first MUST be
>       the exterior ring, and any others MUST be interior rings.  The
>       exterior ring bounds the surface, and the interior rings (if
>       present) bound holes within the surface.

So, two things:

1. Since rings are _not_ valid GeoJSON geometry objects in the accepted standard, we needn't represent them as such. Polygon coordinates should always be represented in GeoJSON objects as depth 3, even if instantiated with a single depth 2 ring (no holes). I will make that change to the code and docs.

2. The example given by the OP is incorrect. According to the RFC, a linear ring **must** include a minimum of 4 coordinates. The example has 3.

So, my plan is to add two new behaviors to the Polygon class input validation:

- it will check for depth 2 or depth 3, and add a depth level if the former
- it will check for a minimum of 4 coordinates, and reject the input and display an explanatory error

Any opinions/suggestions on this plan are welcome! Given it's a five year old issue, I'm not expecting any though :watch: 